[submodule "senno-grpc-controller-config"]
	path = senno-grpc-controller-config
	url = https://git.coding.net/sennotech/senno-grpc-controller-config.git
	branch = develop
[submodule "senno-spring-boot-util"]
	path = senno-spring-boot-util
	url = https://git.coding.net/sennotech/senno-spring-boot-util.git
	branch = develop
[submodule "euler-proto"]
	path = euler-proto
	url = https://git.coding.net/sennotech/euler-proto.git
	branch = develop
[submodule "senno-jpa-repository-config"]
	path = senno-jpa-repository-config
	url = https://git.coding.net/sennotech/senno-jpa-repository-config.git
	branch = develop
[submodule "euler-proto-client"]
	path = euler-proto-client
	url = https://git.coding.net/sennotech/euler-proto-client.git
	branch = develop
[submodule "senno-proto-client"]
	path = senno-proto-client
	url = https://git.coding.net/sennotech/senno-proto-client.git
	branch = develop
[submodule "senno-proto"]
	path = senno-proto
	url = https://git.coding.net/sennotech/senno-proto.git
	branch = develop
[submodule "sennofit-proto-client"]
	path = sennofit-proto-client
	url = https://git.coding.net/sennotech/sennofit-proto-client.git
	branch = develop
[submodule "sennofit-proto"]
	path = sennofit-proto
	url = https://git.coding.net/sennotech/sennofit-proto.git
	branch = develop
[submodule "sennofit-exception-config"]
	path = sennofit-exception-config
	url = https://git.coding.net/sennotech/sennofit-exception-config.git
	branch = develop
[submodule "senno-exception-config"]
	path = senno-exception-config
	url = https://git.coding.net/sennotech/senno-exception-config.git
	branch = develop
